---
import Layout from '../layouts/Layout.astro';
//import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<form id="myForm">
        <p><label for="name">Name
            <input type="text" name="name" required>
            </label>
        </p>
    
        <p><label for="price">price
            <input type="number" name="price" required>
            </label>
        </p>
    <button>Send</button>
    </form>
    <ul>

    </ul>
    <script src="/js/main.js" "is:inline"></script>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	ul{
		list-style-type: none;
		color:brown;
	}
</style>
