---
import "../css/style.css";
import Layout from '../layouts/Layout.astro';
//import Card from '../components/Card.astro';
---

<Layout title="Post data from Astro">
	<main>
		<form id="myForm">
        <p><label for="name">Name
            <input type="text" name="name" required>
            </label>
        </p>
    
        <p><label for="price">price
            <input type="number" name="price" required>
            </label>
        </p>
    <button>Send</button>
    </form>
    <ul id="productGrid">

	</ul>
    <script src="/js/main.js" "is:inline"></script>
	</main>
</Layout>

